In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data = [[10,'red'],[20, 'blue'], [12, 'red'], [16, 'green'],
[22, 'blue']]
df = pd.DataFrame(data, columns=['Length', 'Color'])

encoder = LabelEncoder()
df['Color'] = encoder.fit_transform(df['Color'])
df.head()

   Length  Color
0      10      2
1      20      0
2      12      2
3      16      1
4      22      0

array(['blue', 'green', 'red'], dtype=object)

In [5]:
data = [[10,'red'],[20, 'blue'], [12, 'red'], [16, 'green'],
[22, 'blue']]
df = pd.DataFrame(data, columns=['Length', 'Color'])

df = pd.get_dummies(df, columns=['Color'])
df.head()

   Length  Color_blue  Color_green  Color_red
0      10       False        False       True
1      20        True        False      False
2      12       False        False       True
3      16       False         True      False
4      22        True        False      False